


.giant
  font-size 72px
  font-weight 700
  text-align center
  polygon
    fill teal

.wave
  svg
    fill green
  text
    font bold 48px 'proxima-nova'
  .enter
    fill green
  .update
    fill blue
  .exit
    fill brown

