// @import 'index'

// @import '.bootstrap/bootstrap'
// @import 'mixins'
@import 'nib'


// @import 'jscrollpane'
// @import 'icons.css'
// @import 'colors'

li
  list-style none


.wf-loading
  visibility hidden

.wf-active
  visibility visible


.capitalize
  text-transform capitalize

.tooltip
.tooltip.bottom
  bg = white
  &.in
    opacity 1
  .tooltip-arrow
    border-bottom-color bg
  .tooltip-inner
    background bg
    color black
    box-shadow 0 1px 2px rgba(black, .7)

.centered
  text-align center

.accord
  h4
  p
    margin-top 0
    margin-bottom 0
    padding 10px 0
  a.active:hover
    opacity 0.6
  .body
    display none

hr

  border-top 1px solid #eee
  border-bottom 1px solid #fff

  &.shadow
    border-top #ddd
    degree = .1
    height = 20px
    thinHeight = 10px
    &.top
      &.thin
        radial-gradient black degree thinHeight bottom
      radial-gradient black degree height bottom
    &.bottom
      &.thin
        radial-gradient black degree thinHeight top
      radial-gradient black .15 height top

  &.soften
    height 1px
    margin 70px 0
    background-image linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0))


span-style()
  text-transform uppercase
  font-size 12px
  letter-spacing 1px
  font-weight 500


trans(a)
  transition-property a
  transition-duration Duration
  transition-timing-function ease-out
  transition-delay 0

anim(a)
  animation-name a
  animation-duration Duration
  animation-timing-function ease

html
  overflow-x hidden
  // transform scale(0.7)

html
body
.content
.container
.current
.next
.wrapper
  height 100%!important


body
input
textarea
button
  font-family "proxima-nova", Helvetica
  color #111

body
  cursor default
  line-height 1.5
  position relative
  overflow-x hidden
  overflow-y scroll
  background-color rgba(1,0,0,0)
  &.transitioning
    background-color rgba(0,0,0,0)
    trans(background-color)

.content
  left 0
  width 200%
  position absolute
  .transitioning.from_admin.to_account &
  .transitioning.from_account &
  .transitioning.to_about &
    trans(left)
    left 100%
  .transitioning.to_admin &
  .transitioning.to_account &
  .transitioning.from_about &
    trans(left)
    left -100%


.current
.next
  width 50%
  height 100%
  position absolute
  background transparent

.next
  display none
  .transitioning.from_admin.to_account &
  .transitioning.from_account &
  .transitioning.to_about &
    left -50%
    display block
  .transitioning.to_admin &
  .transitioning.to_account &
  .transitioning.from_about &
    left 50%
    display block

.next
  .transitioning &
    .container
      anim(fade-in-quick)

.current
  .transitioning &
    .container
      anim(fade-in-quick)
      animation-direction reverse

#offer-tag-list
  user-select none
  padding-bottom 30px

  ul
    relative top
    margin-bottom 30px
    height auto
    background #fafafa
    box-shadow 0 1px 3px rgba(black, .3)
    overflow hidden

  i
    relative top 3px

  li
    relative top
    margin-left 0
    display inline-block
    float none
    background none
    color #666
    span
      font-weight 500

    &[data-active]
      filter grayscale(100%)
      span
        color rgba(black, .3)

      &[data-active=true]
        filter grayscale(0%)
        opacity 1
        box-shadow 0 0 2px rgba(black, .4)
        background white
        span
          color black

    &.footer
    &.header
      span-style()
      font-size 16px
      padding-top 5px
      color black
      display block
      span
        font-weight 600

    &.sub-footer
    &.sub-header
      span-style()
      color black
      span
        relative bottom -1px
        font-weight 600
        display inline-block
        background-color transparent
        background-image url("/shadow-line.png")
        background-repeat no-repeat
        background-position right
        background-size contain
        z-index 10
        opacity .2
        text-indent -7px
        &:last-child
          background none

    input
      relative top
      height 100%
      left -4.5%
      width 104%

  hr
    &.bottom
      relative top -1px
      margin-top 0
      z-index 1

    &.top
      margin-bottom 0

    &.white
      background white
      height 1px

.offers
  height 100%
  display block

.offer

  relative top

  border solid white
  box-sizing border-box
  font-weight normal
  width 100%
  float left
  box-shadow 0px 2px 6px -1px rgba(black, .5)
  overflow hidden

  // height
  H         = 250px
  H-data    = 50px
  H-main    = H - H-data
  H-blurb   = H-main * .4
  H-actions = H-blurb * .4

  spacing       = 7px
  spacing-main  = ((H-main - (H-blurb + H-actions + spacing)) / 2)

  C       = #aaa
  C-light = #eee
  C-med   = #999
  C-dark  = #555

  border-width spacing
  min-height H
  margin (spacing * 2) 0

  section.main
    padding spacing-main
    box-sizing border-box
    height H-main
    color C-dark

  section.blurb
    Background = white
    relative top
    height H-blurb
    margin-bottom spacing
    width 200px
    text-align center
    background Background
    &::after
      content ''
      height 0
      width 0
      border-style solid
      border-top-color    transparent
      border-bottom-color transparent
      border-right-color  transparent

      size = 10px
      absolute left 100% top ((H-blurb /2) - size)
      border-width size
      border-left-color Background


    .field
      &[data-field=name]
        font-weight 300
        font-size 32px
        display block
        text-transform lowercase

      &[data-field=business]
        font-weight 900
        text-transform uppercase
        font-size 11px
        letter-spacing 1px


  section.actions
    user-select none
    height H-actions
    margin-bottom spacing

    a
      float left
      height H-actions
      width H-actions
      margin-right spacing
      background white

      i
        font-size H-actions - (spacing * 2)
        line-height H-actions
        text-align center
        padding-top floor(spacing / 2)
        display block

  F-upper(size)
    font-size size
    letter-spacing (size * .1)
    font-weight 600
    text-transform uppercase

  H-fig = 10px

  section.data
    relative bottom
    height H-data
    width 100%
    padding 0
    box-sizing border-box
    color C-med
    background white
    overflow hidden

    div
      float left
      height 100%
      position relative
      width 25%

      figure
        absolute bottom
        width 100%
        height H-fig + spacing
        border spacing solid white
        margin spacing 0
        box-sizing border-box
        background C-light
        overflow hidden

        .metric
          absolute bottom
          width 100%
          z-index 3
          height 100%
          background C

      figcaption
        margin spacing * 2
        text-align left

        span
          F-upper(11px)
          display block

    i.glyph
      absolute bottom left
      font-size 25px
      width 100%
      z-index 10
      color rgba(black, .1)

  Background = C-light

  section.extensions
    background Background

    .extension
      relative top
      width 100%
      display none
      box-shadow 0 -1px 0px rgba(black, .15)
      border-top 1px solid rgba(white, .6)
      header
        text-align center
        padding 10px
        font-size 20px

      &[data-extension=map]
        .inner
          height H
        .address-container
          absolute top right
          .time
          .address
            background rgba(white, .9)
            padding 10px
            margin 10px
            box-shadow 0 0px 2px rgba(black, .4)
            font-weight 500
            text-shadow 0 1px 1px white
            text-align center
            text-transform capitalize
            font-size 12px
            text-transform uppercase
            letter-spacing 1px
            .value
              font-weight 600

      &[data-extension=message]
        .inner
          background Background
          position relative
          height (H / 2)
          margin 0
        .message-area
          width 100%
          height 100%
          absolute top left
          font-size 16px
          opacity 1
          text-align center
        textarea
          width 100%
          height 100%
          absolute top left
          z-index 1
          font-size 16px
          line-height 24px
          padding 15px
          padding-left 25px
          border none
          box-sizing border-box
          &:focus
            box-shadow none
        .send
          position absolute
          right 0
      &[data-extension=reserve]
        // display block
        .reserve
          span
            display block



#Tagsets
  ul
    li
      margin-right 20px
      font-size 20px
      display inline
#tags
  ul
    float left

.admin
  relative top
  *
    font-family monospace!important
  pre
  input
  textarea
  button
    width 100%
    box-sizing border-box
    font-size 12px
    line-height 12px
  button.btn
    margin-bottom 10px
    border 1px solid #ccc
  .name
    font-weight normal
    text-align right
  .status
    margin-top 0
    &.error
      color red
      &:before
        content "in"


.data
  padding-bottom 15px
  text-align center

input.color
  color white
  text-align center

.icon
  opacity 0.7
  display inline
  text-align center
  &:hover
    opacity 1
    span
      opacity 1
  i
    font-size 2em
    padding 20px
  span
    display inline
    opacity .5


.message-container
  color = rgba(white, .3)
  background color
  margin-bottom 20px
  footer
  article > *
    padding 20px
  article
    border-bottom 1px solid rgba(black, .15 )
    relative top
    overflow hidden
    *
      box-sizing border-box
    .from
      font-weight bold
    .inner
    textarea
      border none
      border-left 2px solid rgba(black, 0.3)
      padding-left 10px
      box-sizing border-box
    .sent
      absolute right
      height 100%
      text-align center
    &.compose
      light = rgba(white, .8)
      color light
      textarea
        width 100%
        box-shadow none
        border-color rgba(black, .5)
        color light
      .sent
        background rgba(white, 0.01)
        font-weight bold
        &:hover
          background rgba(white, 0.1)


.modal
  &.fade
    top -35%
  border-radius 0
  .alert
    &.fade
      display none
      &.in
        display block
  button.clr-bg
    color rgba(white, 1)
    text-shadow 0 -1px 0 rgba(black, 0.7)
    &:hover
      color rgba(white, 1)
  textarea
  button
  input
    width 100%
    height 32px

#intro
  position absolute
  text-align center
  shadow = inset 0 100px 500px -51px rgba(255,255,255, 0.3)
  width 100%
  .body
    margin-bottom 50px
    div
      width 500px
      height 124px
      background-image url("/connected-logo-big.png")
      background-size contain
      background-repeat no-repeat
      background-position 0 50%
      margin 0 auto
    h3
      max-width 700px
      display block
      margin 0 auto
  footer
    width 100%
    text-align center
    display block
    margin 0 auto
    float none

    button
    h4
    div
      display inline-block
      margin-bottom 0
      margin-top 0
      height 38px
    h4
      margin 0 20px
    button
      height 100%
      box-shadow shadow

