

bbox()
  box-sizing border-box

d(n)
  display n

fl(n)
  float n

fs(n)
  font-size n

h(n)
  height n

lh(n)
  line-height n

m(n...)
  margin n

ta(n)
  text-align n

w(n)
  width n

z(n)
  z-index n

