

.admin
  relative top
  *
    font-family monospace!important
  pre
  input
  textarea
  button
    width 100%
    box-sizing border-box
    font-size 12px
    line-height 12px
  button.btn
    margin-bottom 10px
    border 1px solid #ccc
  .name
    font-weight normal
    text-align right
  .status
    margin-top 0
    &.error
      color red
      &:before
        content "in"
