
$buttonHeight = ($scope * .5)

div.background
div.background *
  fixed top left
  max height width

div.background
  // .image
  //   background-image url('/kc_bg.jpg')
  //   background-size cover
  //   background-repeat no-repeat
  //   background-position 50%

  .color
    transition $page_speed
    background-color $clr_main
    [data-active-anchor=about] &
    [data-active-anchor=account] &
      background-color $white



// div.spotlight
//   fixed top
//   max-height $scope
//   max width
//   overflow hidden
//   z ($zindexAnchors - 10)
// 
//   transition $page_speed
//   opacity 0
// 
//   [data-active-anchor=about] &
//   [data-active-anchor=account] &
//     opacity 1
// 
//   _clr = #438bb2
// 
//   .bg
//     absolute top
//     max height width
//     background-color _clr
//     z 10
// 
//   .image
//     opacity 0
//     relative top
//     z 20
//     width 600px
//     height 200px
//     background-image url('/spotlight.png')
//     background-repeat no-repeat
//     background-position 50%
//     background-size cover
//     // background-color hsla( 180, 90%, 50%, .6 )
//     // background-color white
//     margin 0 auto
//     // opacity .5
//     -webkit-filter hue-rotate(-40deg)


nav.anchors
  fixed top
  width 100%
  z $zindexAnchors
  height $scope
  background $clr_main

  // box-shadow 0 -5px 15px rgba(black, .5)
  // border-bottom 1px solid rgba(black, .4)

  // _c1 = lighten($bodyBackground, 100%)
  // _c2 = darken($white, 0%)
  // _(a, b, c)
  //   return a rgba(c, b)
  // // background linear-gradient(top, _(0, .4, _c1), _(45%, .3, _c1), _(55%, .1, _c1), _(100%, .3, _c1))

  .inner
    relative top
    height $scope
    max-width $width_max
    max width
    text-align center
    margin 0 auto

  li
    icon_size           = $scope / 2

    active_color        = $white
    inactive_color      = rgba(active_color, .7)

    speed = $page_speed_4

    top_margin = ($scope * .2)

    font-size-line-height(n)
      font-size n
      line-height n

    relative top
    max-width $scope
    width  $scope
    height  $scope
    float left

    display inline-block
    transition $page_speed_4
    font-size-line-height icon_size
    i
      transition 0
      color inactive_color

    &:first-child .border
      border-width 0 1px 0 0
    &:last-child .border
      border-width 0 0 0 1px

    &.split
      .border
        border-color transparent
      max-width $scope * 2
      width $scope * 2

    &.active
      width 100%
      max-width ($width_max - ($scope * 4))
      width calc(100% \- ($scope * 4))

      i, .headline
        color active_color

      &:first-child
        margin-left $scope * 2
      &:nth-child(2)
        opacity 0

      .headline
        animation fadeInHeadline speed
        max-width 200px

    &.inactive
      &:hover
        i
          color active_color

      .headline
        animation fadeOutHeadline speed
        max-width 0

    .border
      absolute top
      width 100%
      height $scope - ($spacing * 2)
      margin $spacing 0
      border-width 0px
      border-style solid
      border-color lighten(inactive_color, 60%)


    h1, i, .headline
      display inline-block

    h1, .headline
      vertical-align middle
      margin 0
      font-weight 200
      line-height $scope
      font-size icon_size

    .headline
      max-width 0
      overflow hidden

    i
      relative left (-($spacing))
      padding 0 $spacing
      width 0
      height $scope
      line-height $scope - (icon_size / 2)
      vertical-align middle
      bbox()



nav.menus
  speed = $page_speed_2
  fixed top $scope
  opacity 1
  color purple
  margin 0 auto
  z $zindexReader
  // min-height 120px
  box-sizing border-box
  .transitioning &
    transition-duration speed

  .current
  .next
    padding-bottom $spacing

  menu
    padding-left 0

  div.row
    @extend .container-trim
    relative top
    bbox()
    text-align center
    overflow hidden

    &.tags
      $rowMenus = 3
      $rowTags  = 2
      text-align center
      min-height (($buttonHeight + $spacing) * $rowTags)
      a
        margin 0 ($spacing / 2) $spacing
        display inline-block
        float none
    [class*='span']
      padding-left $spacing
      padding-bottom $spacing
      bbox()
      &:first-child
        padding-left 0
      *
        min-width 100%
        width auto

    a.item
      &.active
        .btn
          background $linkColor
          span
            color white
            text-shadow none
      .btn
        height $buttonHeight
        bbox()
        span
          font-size 100%
          // font-weight bold

    span.marker
      absolute right 100%
      margin-right $spacing
      height $scope
      lh $scope

nav.sidebar
  fixed bottom
  max width
  z-index 1060
  .inner
    relative top
    max-width $width_max
    max width
    text-align center
    margin 0 auto
    .right
      absolute right top (-($scope))
      width $scope * 2
      height $scope * 2
      padding $spacing
      box-sizing border-box













