
#launch
  absolute top left
  max height width
  text-align center
  .inner
    relative top 50%
    margin-left auto
    margin-right auto
    margin-top -130px

.holder
  visibility hidden

  .row-holder
    @extends .row-fluid
